{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">   
    <div class="col-xs-12 col-md-12">
        
        <h1>Item list</h1>

        <div class="filter_form col-xs-8 col-md-9">
            <form action="{{ path('admin_item', app.request.query.all )}}" method="get" id="filter_form" class="form-inline" role="form">
                <div class="form-group">
                    <label for="price">price &gt;</label> <input type="number" placeholder="$100" name="price" class="form-control" step="0.1" value="{{ app.request.get('price') }}" />
                    
                </div>
                    
                <div class="form-group">
                    <label for="sold">sold &gt; </label> <input type="number" placeholder="20" name="sold" class="form-control"  value="{{ app.request.get('sold') }}" />
                </div>
                
                <div class="form-group">
                    <label for="sold">profit &gt; </label> <input type="number" placeholder="5" name="profit" step="0.1" class="form-control"  value="{{ app.request.get('profit') }}" />
                </div>
                
                 
                <div class="checkbox">
                    <label><input type="checkbox" value="1" name="has_main_asin" {% if app.request.get('has_main_asin') %}checked="checked"{% endif %}> has main asin</label>
                </div>
                
                <div class="checkbox">
                    <label><input type="checkbox" value="1" name="has_asin" {% if app.request.get('has_asin') %}checked="checked"{% endif %}> has asin</label>
                </div>  
                
                <div class="checkbox">
                    <label><input type="checkbox" value="1" name="has_profit" {% if app.request.get('has_profit') %}checked="checked"{% endif %}> has profit</label>
                </div>
                
                
                
                
                <input type="submit" name="submit_form" value="filter"  />
                <input type="submit" name="reset_form" id="reset_form" value="reset" />


            </form>        
        </div>
        <div class="col-xs-4 col-md-1">
            {{ block('items_per_page') }}
        </div>
    </div>
   
</div>
<div class="row">
           
  <div class="col-xs-12 col-md-12">        
     
      {{ block('pagination') }}       
    
    <div class="panel panel-default">
        <div class="panel-heading">Total Items: {{ pagination.getTotalItemCount }}</div>
        <form id="container_checkbox" action="" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th><input name="check_all" id="check_all" type="checkbox" value="1"></th>
                    <th>eBay ID</th>
                    <th>Upc</th>
                    <th>Item Specs</th>

                    <th>{{ knp_pagination_sortable(pagination, 'Price', 'price') }}</th>                    
                    <th>{{ knp_pagination_sortable(pagination, 'Amazon Price', 'amazon_price') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Profit', 'profit') }}</th>

                    <th>{{ knp_pagination_sortable(pagination, 'Sold', 'sold') }} </th>
                    {# <th>Category</th> #}
                    <th>Asin</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created At', 'created_at') }}</th>
                    <th>Choose main ASIN</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr {% if loop.index is odd %}class="odd"{% endif %}>
                    {# <td><a href="{{ path('admin_item_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                    <td>
                        <input name="check[]" id="check_{{ entity.id }}" class="checkbox_check {% if entity.main_asin == "" %}disabled{% endif %}" type="checkbox" value="{{ entity.id }}" {% if entity.main_asin == "" %}title="Please choose main ASIN first"{% endif %}>
                    </td>
                    <td>
                        <a href="{{entity.url}}" target="_blank">{{ entity.ebay_id }}</a>
                        <br /><br />
                        <a href="{{ path('item_preview', { "id": entity.id } ) }}" class="item_preview">preview <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                        
                    </td>
                    <td>{{ entity.upc }}</td>
                    <td>{% if entity.mpn %}MPN: {{ entity.mpn }} {% endif %} <br />
                        {% if entity.brand %}Brand: {{ entity.brand }} {% endif %} <br />
                        {% if entity.ean %}Ean: {{ entity.ean }} {% endif %}
                    </td>

                    <td>${{ entity.price }}</td>
                    <td>${{ entity.amazon_price | default(0) }}</td>

                    <td>${{ entity.profit | default(0) }}</td>
                    <td><a data-id="{{ entity.id }}" href="{{ path('sold_modal', { 'id': entity.id } ) }}" class="item_sold">{{ entity.sold }}</a></td>
                    {# <td>{{ entity.category }}</td> #}
                    <td>{{ entity.asin | split_asin | raw }}</td>
                    <td>{% if entity.created_at %}{{ entity.created_at|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        {{ entity.asin | asin_options(entity.id, entity.main_asin) | raw }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
        
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="dropdown col-xs-6 col-md-2 pull-left" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Action for selected items
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
               <li><a href="javascript:;" id="update_amazon"><span class="glyphicon glyphicon-bitcoin"></span> Update Amazon Price &amp; Info</a></li>
               <li><a href="javascript:;"><span class="glyphicon glyphicon-export"></span> Export in FileExchange</a></li>
               <li><a href="javascript:;"><span class="glyphicon glyphicon-export"></span> Export in Bonanza</a></li>
               <li><a href="javascript:;" id="add_tags_link"><span class="glyphicon glyphicon-tags"></span> Add tags</a></li>

           </ul>
        </div>
        <div class="add_tags col-xs-5 col-md-5 hide">
            <form class="form-inline">
               <div class="form-group">
                     <input type="text" name="add_tags_input" placeholder="add tags here" class="form-control" />                    
                </div>
                <button class="btn btn-info">save</button>
            </form>
        </div>
    </div>
</div>
 
    <div class="row">
        {{ block('pagination') }}
    </div>

        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
        
{% endblock %}
    
    
{% block javascripts %} 
    <script type="text/javascript">
        
        $(document).ready(function(){
            
            $(".item_sold, .item_preview").click(function(e) {                
                var url = $(this).attr('href');
                var itemClass = $(this).attr('class');
                
                $("#myModal").modal('show');
                
                $("#myModal").find(".modal-body").load(url, function() {
                    
                    if( itemClass == 'item_sold' )
                    {
                        $("#myModal").find('.modal-title').text("Items Sold");
                        $(this).find('table').tablesorter();       
                        
                    } else if (itemClass == 'item_preview')
                    {
                        $("#myModal").find('.modal-title').text("Preview Item");
                    }
                }) 
                return false;
            });          
           
           
            $("#reset_form").click(function() {
                $('#filter_form')[0].reset();
                $("#filter_form input[type=checkbox]").attr('checked', false);
                return false;
            });
            
            
            $("select[name^=asin_options]").change(function() {              
                updateASIN($(this));                          
            });
            
            
            $("input[name^=asin_options]").on('input', function() {                 
                 updateASIN($(this));
            });
            
            $("select[name^=show_items]").change(function() {
                $("#items_per_page").submit();
            });
            
            
            $("#check_all").change(function() {
                $(".checkbox_check").prop('checked', this.checked);
            });
            
            // drop down menu items
            
            // hide tags when click on any menu
            $(".dropdown-menu li a").click(function() {
                 
                $(".add_tags").addClass('hide');
            });
            
            $("#update_amazon").click(function() {
                
               $.ajax({
                   url: "{{ path('update_amazon') }}",
                   data: $("#container_checkbox").serialize(),
                   method: "POST",
                   success: function(data) {
                         $(".dropdown").find('.glyphicon-refresh').remove();                                        
                         $(".dropdown").append($("<span>").attr('class', 'glyphicon glyphicon-ok'));

                   },
                    beforeSend: function() {
                         $(".dropdown").find('.glyphicon-ok').remove();
                         var $icon = $("<span>").addClass('glyphicon glyphicon-refresh glyphicon-refresh-animate');                                        
                         $(".dropdown").append($icon);                                        
                   }
                    
               });
            });
            
            $("#add_tags_link").click(function() {                 
                 
                $addTags = $(".add_tags");
                $addTags.removeClass('hide');
                
                if(!$addTags.find('.bootstrap-tagsinput'))
                {
                    $addTags.find('input').tagsinput();
                }
            });
        
        });
        
        
        function updateASIN($this) 
        {
              
             var id = $this.data('id');
             var val = $this.val();
             
             $.ajax(
                        {
                          url: "{{ path('main_asin') }}",
                          data: { 'id': id, 'asin': val },
                          success: function(data) {
                                        $this.parent().find('.glyphicon-refresh').remove();                                        
                                        $this.parent().append($("<span>").attr('class', 'glyphicon glyphicon-ok'));
                                   },
                          
                          method: "POST",
                          beforeSend: function() {
                                $this.parent().find('.glyphicon-ok').remove();
                                var $icon = $("<span>").addClass('glyphicon glyphicon-refresh glyphicon-refresh-animate');                                        
                                $this.parent().append($icon);                                        
                          }
                        }
                       );
            
        }
         

    </script>
{% endblock %}

{% block pagination %}
    
    <div class="navigation">
            {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block items_per_page %}
         <form class="form-inline pull-right" id="items_per_page" role="form" method="get" action="{{ path('admin_item',  app.request.query.all ) }}">
             <div class="form-group">
                <select name="show_items" class="form-control">
                    <option {% if app.request.query.get('show_items') == '20' %}{% endif %}>20</option>
                    <option {% if app.request.query.get('show_items') == '50' %}{% endif %}>50</option>
                    <option {% if app.request.query.get('show_items') == '100' %}{% endif %}>100</option>
                    <option {% if app.request.query.get('show_items') == '500' %}{% endif %}>500</option>
                </select>
             </div>
         </form>
{% endblock %}
