<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                "bootstrap-sass/bootstrap-sass-3.3.5/assets/stylesheets/*"
                "source/sass/app.scss" 
                filter="scss" filter="uglifycss" filter="cssembed" %}
                 <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 
                 "source/less/tablesorter/*"
                 "source/less/tagsinput/*"                 
                filter="less" filter="uglifycss" filter="cssembed" %}
                 <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            
            {% stylesheets 
                "source/css/*" 
                filter="uglifycss" filter="cssembed"
            %}
             <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block head_javascripts %}
            
             {% javascripts
                 "source/js/jquery-2.1.4.js"              
                 "bootstrap-sass/bootstrap-sass-3.3.5/assets/javascripts/bootstrap.min.js"
                 "source/js/jquery.tablesorter.min.js"
                 "source/js/bootstrap-tagsinput.js"
                 "source/js/jquery-ui.min.js"
                 "source/js/jquery.uploadifive.min.js"
                 "assets/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"
                 "assets/vendor/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"
                 "assets/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"
                 "source/js/bootstrap-editable.min.js"
             filter="uglifyjs" %}
                <script src="{{ asset_url }}"></script>
             {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        {% block navbar %}
        {% embed 'Navbar/navbar.html.twig' with { fixedTop: false, inverse: false, id: 'navbar-example' } %}
            {% block brand %}
                <a class="navbar-brand" href="{{ path('default_homepage') }}">Spider Admin</a>
            {% endblock %}

            {% block menu %}
          

                {{ knp_menu_render('main', { 'class': 'nav navbar-nav' }) }}
            {% endblock %}
          
        {% endembed %}
        
          
        
        {% endblock %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
